@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(197, 226, 103);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: rgb(59, 38, 20);
}

.draggable-list {
  border: 1px solid #e3e5e4;
  color: #fff;
  padding: 0;
  list-style-type: none;
}
.draggable-list li {
  background-color: rgb(214, 123, 165);

  display: flex;
  flex: 1;
}
.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid #e3e5e4;
}
.draggable-list .number {
  background-color: #af5279;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 60px;
  width: 60px;
  color: #fff;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .person-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .person-name {
  color: rgb(8, 235, 8);
}

.draggable-list li.wrong .person-name {
  color: #000;
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: #af5279;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}

.check {
  background-color: #c3c7ca;
  border: none;
  color: #34444f;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
.check:active {
  transform: scale(0.98);
}
.check:focus {
  outline: none;
}
